@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DynaPuff&family=Fira+Sans+Condensed&family=Heebo:wght@400;500;600&family=Poppins:wght@400;500;600&family=Roboto:wght@400;500;700&display=swap");
/* header */

.blog-btn {
  border: none;
  background: transparent;
}

.header {
}
.header-right {
  margin-right: 10px;
}
.header-img {
  width: 50px;
}
.ctg-btn {
  border: none;
  color: #5e5c5c;
}

.right-img-container {
  width: 50px;
  padding: 10px;
}
.right-img-container img {
  border-radius: 90%;
}

/* news left  */
.news-img-left {
  width: 200px;
}

.news-hight {
}
.news-details {
  text-overflow: ellipsis;
  overflow: hidden;

  display: -webkit-box !important;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  white-space: normal;
}
p,
.item-found {
  color: rgb(110, 110, 110);
}

.item-found h3 {
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
}
button:link {
  color: blue;
}
button:visited {
  color: purple;
}
button:hover {
  color: #ffc107;
}
button:active {
  color: rgb(243, 16, 16);
}

